<h1>Edit Project</h1>

        <form action='/projects/<%= @project.id %>' method='post'>
        <input type='hidden' name='_method' value='patch'>

        Project Name: <input type='text' name='project_name' value='<%= @project.project_name %>'> <%= @error %>
        <br>
        <br>
        Description: <input type='text' name='description' value='<%= @project.description %>'> 
        <br>
        <br>
        Subcontractors: <input type='text' name='subs' value='<%= @project.subs %>'>
        <br>
        <br>
        Total Cost : <input type='text' name='total_cost' value='<%= @project.total_cost %>'>
        <br>
        <br>
        Subcontractor Cost: <input type='text' name='sub_cost' value='<%= @project.sub_cost %>'>
        <br>
        <br>
        Project Status: <input type='text' name='project_status' value='<%= @project.project_status %>'>
        <br>
        <br>
        Billing Status: <input type='text' name='billing_status' value='<%= @project.billing_status %>'>
        <br>
        <br> 
        <input type='submit' value='submit'>
    
    </form>


